@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An unexpected error occurred. Please contact the administrator.</h2>

@if (Model.ShowRequestId)
{
    <p class="mt-4">
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
